@font-face {
  font-family: 'FuturaPT';
  src: url('@/assets/fonts/futura_pt_demi.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proximanova';
  src: url('@/assets/fonts/proximanova_regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
