// Цвета
$color-text-main: rgba(0, 0, 0, 0.8);
$color-text-secondary: rgba(0, 0, 0, 0.4);
$color-text-tertiary: rgba(0, 0, 0, 0.2);
$color-success: #62b435;
$color-error: #f64747;
$color-accent: #3498db;
$color-bg-footer: rgba(240, 241, 242, 0.4);

// Шрифты
$font-main: 'Proximanova', sans-serif;
$font-accent: 'FuturaPT', sans-serif;
$font-button: 'Wix Madefor Text', sans-serif;

// Размеры
$border-radius: 8px;
$btn-height: 40px;
$btn-width: 140px;
$card-max-width: 768px;
$card-min-width: 351px;
